body {
    background-color: #fcf34e;
}

h1.header {
    font-size: 7.5em;
    padding-bottom: 20px;
}

p.yum {
    font-size: 3em;
}

img {
    padding-bottom: 40px;
}

.btn-danger {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 50px;
    display: none;
}

#site_enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 400%;
    background-color: black
}

#site_enter {
    padding-top: 300px;
    color: white;
    font-size: 2em;
}
#site_enter h1 {
    color: red;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
